body {
    margin: auto;
    width: fit-content;
    font-size: smaller;
    padding: 0.5em;
    color: darkslategrey;
    background-color: lightslategrey;
}

canvas {
    margin: auto;
    width: 30em;
    height: 22.5em;
    border: 1px dotted lightslategrey;
}